<header class="uk-flex">
    <img class="uk-margin-small-right lazy"
         data-src="https://picsum.photos/100/50"
         alt="Some random pic ;)"/>
    <p class="uk-heading-small">
        Gulp Setup
    </p>
</header>