<head>
<!--delete line below before deploy-->
<meta name="robots"
      content="noindex,nofollow">
<!-- -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"
      content="IE=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1">
<title>Gulp Setup</title>
<meta name="description"
      content="Website for Project">
<link rel="shortcut icon"
      type="image/png"
      href="resources/images/icons/favicon.png"/>
<!--    TODO: in production should compile .min.css-->
<link rel="stylesheet"
      href="css/style<%=(env === 'development') ? '.min' : ''%>.css">
<!-- remove edge default styles for phone number-->
<meta name="format-detection"
      content="telephone=no">
<!--defines mobile browser theme color-->
<meta name="theme-color"
      content="#FFF">
<meta name="msapplication-navbutton-color"
      content="#FFF">
<meta name="apple-mobile-web-app-status-bar-style"
      content="#FFF">
</head>